{{#each this}}
<div class="grid-item ">
    <img class="card__img rounded " src="{{webformatURL}}" alt="{{tags}}" data-fullsize__img="{{largeImageURL}}" />

    <div class="stats container shadow-sm">
        <p class="stats-item">
            <i class="material-icons likes">thumb_up</i>
            {{likes}}
        </p>
        <p class="stats-item">
            <i class="material-icons views">visibility</i>
            {{views}}
        </p>
        <p class="stats-item">
            <i class="material-icons comments">comment</i>
            {{comments}}
        </p>
        <p class="stats-item">
            <i class="material-icons downloads">cloud_download</i>
            {{downloads}}
        </p>
    </div>
</div>
{{/each}}